<h2>Supreme table sheet</h2>
<!-- <pre>{{ config | json }}</pre> -->
<br />
<table>
  <thead>
    <tr *ngFor="let head of thead">
      <th [colSpan]="th.colSpan" [rowSpan]="th.rowSpan" *ngFor="let th of head">
        <span><input [(ngModel)]="th.link.title" /></span
        ><button (click)="addKid(th.link)">Add kid</button>
        <button (click)="deleteSelf(th.link)">Remove self</button>
        <button (click)="delete(th.link)">Remove all kids</button>
      </th>
    </tr>
    <button (click)="addRow()">Add row</button>
  </thead>
</table>
